name: Go Warrior CI
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '*'
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '^1.25.4'
      - run: go test ./...
  linter:
    name: Run lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: articulate/actions-markdownlint@v1
        with:
          config: gowarrior/markdownlint-config.json